---
import '@fontsource-variable/bodoni-moda'
import '@fontsource/paytone-one'
import '@fontsource/bungee'
import '@fontsource/bungee-outline'
import '../index.css'
---

<div class="text-4xl font-amstelvar">Amstelvar</div>
<div class="text-4xl font-paytone">Paytone One</div>
<div class="text-4xl font-bodo">Bodoni Moda Variable</div>
<div class="text-4xl font-bungee">Bungee</div>
<div class="text-4xl font-bungee-out">Bungee Outline</div>
<div class="text-4xl font-departure">Departure Mono</div>