---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogInsight from '@components/blog/BlogInsight.astro'
import FeaturesSection from '@components/ui/sections/FeaturesSection.astro'

const posts: CollectionEntry<'posts'>[] = (await getCollection('posts'))
  .sort(
    (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) =>
      b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  )
  .slice(0, 3)
---

<BaseLayout>
  <div class='text-white'>
    <h1>Concordance</h1>

    <p>
      Concordance is putting data and privacy back where they belong—in your
      hands. Our groundbreaking suite of projects and tools is on the way. Stay
      tuned
    </p>
    <p>
      Pioneering the Future of On-Chain Data with Research-Driven Advancements
    </p>
  </div>

  <FeaturesSection />

  <section
    class='mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full'
  >
    <div class='mx-auto mb-10 max-w-2xl text-center lg:mb-14'>
      <h2
        class='text-3xl font-bold text-neutral-800 dark:text-neutral-200 md:text-4xl md:leading-tight'
      >
        Latest Posts
      </h2>
      <!-- <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
                Always want to write something, but rarely actually do it
            </p> -->
    </div>
    <div class='grid gap-6 sm:grid-cols-2 lg:grid-cols-3'>
      {posts.map((b) => <BlogInsight blog={b} />)}
    </div>
  </section>
</BaseLayout>
