---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogInsight from '@components/blog/BlogInsight.astro'
import FeaturesSection from '@components/ui/sections/FeaturesSection.astro'

import '@fontsource-variable/bodoni-moda'
import '@fontsource/paytone-one'
import '@fontsource/bungee'
import '@fontsource/bungee-outline'
import { ContactButton } from '@/components/ContactButton'

const posts: CollectionEntry<'posts'>[] = (await getCollection('posts'))
  .sort(
    (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) =>
      b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  )
  .slice(0, 3)
---
<BaseLayout>
  <main class="flex flex-col grow justify-center py-10">
    <div class='font-amstelvar-lead max-w-[600px] lg:text-[1.7vw] lg:max-w-[55vw] mx-auto flex flex-col gap-6 text-center items-center'>
      <p>
        Concordance Labs builds infrastructure to extend the power of blockchain and enable data-rich, interactive, fully on-chain Web3 apps.
            </p>
      <p>
        We’re committed to eliminating the need for off-chain compute—without compromising performance or privacy.
      </p>
      <div class="pt-5" />
      <ContactButton client:load />
      <div class="pt-10" />
    </div>
  </main>



  <!-- <FeaturesSection /> -->

  {posts.length > 2 && 
    <section
      class='mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full'
    >
      <div class='mb-4'>
        <h2
          class='text-3xl font-amstelvar-heading co-opsz-60 text-neutral-800 dark:text-[#BEBEBE]  md:text-4xl md:leading-tight'
        >
          Blog Posts
        </h2>
        <!-- <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
                  Always want to write something, but rarely actually do it
              </p> -->
      </div>
      <div class='grid gap-6 sm:grid-cols-2 lg:grid-cols-3'>
        {posts.map((b) => <BlogInsight blog={b} />)}
      </div>
    </section>
  }

  <!-- <div class="pt-[200px]" /> -->
</BaseLayout>
