---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogInsight from '@components/blog/BlogInsight.astro'
import FeaturesSection from '@components/ui/sections/FeaturesSection.astro'

import '@fontsource-variable/bodoni-moda'
import '@fontsource/paytone-one'
import '@fontsource/bungee'
import '@fontsource/bungee-outline'

const posts: CollectionEntry<'posts'>[] = (await getCollection('posts'))
  .sort(
    (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) =>
      b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  )
  .slice(0, 3)
---

<BaseLayout>
  <h1 class='text-6xl font-bungee-out text-white/10 text-[35vh] absolute pointer-events-none top-[500px] left-[400px]'>Concordance</h1>
  <div class='min-h-[65vh] flex flex-col justify-center'>
    <div class='text-white flex lg:flex-row flex-col gap-8 lg:gap-[80px]'>
      <div class='-mt-4'>
        <h1
          class='text-5xl md:text-[6vw] font-paytone uppercase opacity-70 leading-tight'
        >
          Concordance
        </h1>
        <p
          class='font-bungee text-[20px] text-[#1574AB] leading-tight md:text-[1.5vw]'
        >
          Pioneering the Future of On-Chain Data<br />with Research-First
          Advancements
        </p>
      </div>
      <p class='font-bodo text-[#1574AB] text-[24px] w-[472px]'>
        Concordance is setting a new standard in data ownership, putting control directly in the hands of individuals. 
        Our suite of decentralized, privacy-first solutions are on the way. 
      </p>
    </div>
  </div>

  <FeaturesSection />

  {posts.length > 2 && 
    <section
      class='mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full'
    >
      <div class='mb-4'>
        <h2
          class='text-3xl font-bold font-bungee text-neutral-800 dark:text-[#BEBEBE]  md:text-4xl md:leading-tight'
        >
          Latest Posts
        </h2>
        <!-- <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
                  Always want to write something, but rarely actually do it
              </p> -->
      </div>
      <div class='grid gap-6 sm:grid-cols-2 lg:grid-cols-3'>
        {posts.map((b) => <BlogInsight blog={b} />)}
      </div>
    </section>
  }

  <div class="pt-[200px]" />
</BaseLayout>
