---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogInsight from '@components/blog/BlogInsight.astro'
import FeaturesSection from '@components/ui/sections/FeaturesSection.astro'

import '@fontsource-variable/bodoni-moda'
import '@fontsource/paytone-one'
import '@fontsource/bungee'
import '@fontsource/bungee-outline'

const posts: CollectionEntry<'posts'>[] = (await getCollection('posts'))
  .sort(
    (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) =>
      b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  )
  .slice(0, 3)
---

<BaseLayout>
  <!-- <h1 class='text-6xl font-bungee-out text-white/10 text-[35vh] absolute pointer-events-none top-[500px] left-[400px]'>Concordance</h1> -->
  <div class='min-h-[80vh] flex flex-col justify-center'>
    <div class='text-white flex lg:flex-row flex-col gap-8 lg:gap-0'>
      <div class='-mt-5'>
        <h1
          class='text-5xl md:text-[6vw] font-paytone uppercase opacity-80 leading-tight'
        >
          Concordance
        </h1>
        <p
          class='font-amstelvar uppercase tracking-wider font-bold text-[20px] text-white/50 leading-tight md:text-[1.5vw]'
        >
          Enabling <span class="bg-white/20"> Fully</span> on-chain  Data rich applications
        </p>
      </div>
      <div class="flex justify-center flex-grow">
        <p class='font-amstelvar italic text-white/80 text-[24px] max-w-[472px]'>
        Concordance is a privacy-first lab creating infrastructure focused on putting data ownership back into the hands of the individual.
      </p>
      </div>
    </div>
  </div>

  <!-- <FeaturesSection /> -->

  {posts.length > 2 && 
    <section
      class='mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full'
    >
      <div class='mb-4'>
        <h2
          class='text-3xl font-bold font-amstelvar text-neutral-800 dark:text-[#BEBEBE]  md:text-4xl md:leading-tight'
        >
          Blog Posts
        </h2>
        <!-- <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
                  Always want to write something, but rarely actually do it
              </p> -->
      </div>
      <div class='grid gap-6 sm:grid-cols-2 lg:grid-cols-3'>
        {posts.map((b) => <BlogInsight blog={b} />)}
      </div>
    </section>
  }

  <div class="pt-[200px]" />
</BaseLayout>
