---
import { getCollection } from 'astro:content'
import type { CollectionEntry } from 'astro:content'
import BaseLayout from '@layouts/BaseLayout.astro'
import BlogInsight from '@components/blog/BlogInsight.astro'
import FeaturesSection from '@components/ui/sections/FeaturesSection.astro'
import logoSrc from '@images/concordance-logo.svg'
import Image from '@components/ui/images/Image.astro'

import '@fontsource-variable/bodoni-moda'
import '@fontsource/paytone-one'
import '@fontsource/bungee'
import '@fontsource/bungee-outline'
import { ContactButton } from '@/components/ContactButton'

const posts: CollectionEntry<'posts'>[] = (await getCollection('posts'))
  .sort(
    (a: CollectionEntry<'posts'>, b: CollectionEntry<'posts'>) =>
      b.data.pubDate.valueOf() - a.data.pubDate.valueOf(),
  )
  .slice(0, 3)
---

<BaseLayout>
  <main class="flex grid place-items-center min-h-full lg:pl-0 xl:pl-8 lg:pt-[15%] mt-[3%]">
    <a class= 'font-departure text-center'> BLOCKCHAIN EXTENSIBILITY TOOLKIT</a>
    <a href="/" class="flex flex-col sm:flex-row items-center gap-6 -ml-[15%] ">
      <Image disableBlur src={logoSrc} alt="logo" class="w-[50px] md:w-[90px] lg:w-[150px] xl:w-[240px] h-auto"/>
      <div class="text-left">
        <h1 class="font-amstelvar-heading text-lg md:text-xl lg:text-2xl xl:text-6xl">
          Experience seamless integration
        </h1>
      </div>
    </a>
    <div class='font-amstelvar-lead text-center max-w-[300px] lg:text-[1.3vw] lg:max-w-[50vw] mx-auto flex flex-col gap-6'>
      <p>
        Concordance provides developers the tools, framework, and platform to build and deploy a new class of blockchain applications. 
      </p>
    </div>
    <div class="pt-9  flex gap-6" />
    <ContactButton client:load />
    <div class="pt-10" />
  </main>


  <!-- <FeaturesSection /> -->

  {posts.length > 2 && 
    <section
      class='mx-auto max-w-[85rem] px-4 py-10 sm:px-6 lg:px-8 lg:py-14 2xl:max-w-full'
    >
      <div class='mb-4'>
        <h2
          class='text-3xl font-amstelvar-heading co-opsz-60 text-neutral-800 dark:text-[#BEBEBE]  md:text-4xl md:leading-tight'
        >
          Blog Posts
        </h2>
        <!-- <p class="mt-1 text-pretty text-neutral-600 dark:text-neutral-400">
                  Always want to write something, but rarely actually do it
              </p> -->
      </div>
      <div class='grid gap-6 sm:grid-cols-2 lg:grid-cols-3'>
        {posts.map((b) => <BlogInsight blog={b} />)}
      </div>
    </section>
  }

  <!-- <div class="pt-[200px]" /> -->
</BaseLayout>
