---
import NavLink from '@components/ui/links/NavLink.astro'
import BrandLogo from '@components/ui/logos/BrandLogo.astro'
import { NavigationLinks } from '@/config'
---

<header class="flex items-center max-w-screen-xl mx-auto w-full">
  <img src="/src/images/concordance-logo.svg" />

  <div class="font-amstelvar-bold-body hidden md:block">
    Concordance<br />Labs
  </div>

  <div class="grow" />

  <div class="font-amstelvar-bold-body flex gap-6">
    {
      NavigationLinks.map((link) => (
        <NavLink url={link.url} name={link.name} />
      ))
    }
  </div>
</header>
