@font-face {
  font-family: 'Amstelvar';
  src: url('amstelvar-roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Departure Mono';
  src: url('departure-mono-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* co for concordance */

.co-highlight {
  background: linear-gradient(to right, #ffdc71 50%, transparent 50%);
  background-size: 205% 100%;
  background-position: right bottom;
  transition: background 0.25s ease;
}

a.co-highlight:hover {
  background-position: left bottom;
  transition: background 0.25s ease;
}