@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Amstelvar';
  src: url('/amstelvar-roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Amstelvar Heading';
  src: url('/amstelvar-roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.font-amstelvar-heading {
  font-variation-settings:
    'wght' 484,
    'wdth' 100.25,
    'opsz' 90,
    'GRAD' 4,
    'XTRA' 561,
    'XOPQ' 174.8,
    'YOPQ' 123.81,
    'YTLC' 499.5,
    'YTUC' 750,
    'YTAS' 765.65,
    'YTDE' -239.36,
    'YTFI' 758.5;
}

.font-amstelvar-lead {
  /* @apply text-xl md:text-2xl lg:text-4xl; */
  font-family: 'Amstelvar';
  font-style: normal;
  /* font-size: 32px; */
  line-height: 130%;
  letter-spacing: 0.03em;

  font-stretch: 100;
  font-variation-settings:
    'wght' 333,
    'GRAD' 108,
    'XTRA' 562,
    'XOPQ' 176,
    'YOPQ' 124,
    'YTLC' 500,
    'YTUC' 750,
    'YTAS' 767,
    'YTDE' -240,
    'YTFI' 760,
    'opsz' 63;
}

.font-amstelvar-bold-body {
  font-family: 'Amstelvar';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 0.03em;

  font-variation-settings:
    'wdth' 113,
    'wght' 675,
    'GRAD' 219,
    'XTRA' 562,
    'XOPQ' 64,
    'YOPQ' 124,
    'YTLC' 500,
    'YTUC' 750,
    'YTAS' 767,
    'YTDE' -240,
    'YTFI' 760,
    'opsz' 36;
}

.font-amstelvar-button-text {
  font-family: 'Amstelvar';
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  /* identical to box height */
  letter-spacing: 0.02em;

  color: #ffffff;
  font-variation-settings:
    'wdth' 100,
    'wght' 400,
    'GRAD' 0,
    'XTRA' 562,
    'XOPQ' 177,
    'YOPQ' 124,
    'YTLC' 500,
    'YTUC' 750,
    'YTAS' 767,
    'YTDE' -240,
    'YTFI' 760;
}

.co-opsz-60 {
  font-variation-settings: 'opsz' 60;
}

@font-face {
  font-family: 'Departure Mono';
  src: url('/departure-mono-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* co for concordance */

.co-highlight {
  background: linear-gradient(to right, #eab30899 50%, transparent 50%);
  background-size: 200% 100%;
  background-position: right bottom;
  transition: background 0.25s ease;
}

a.co-highlight:hover {
  background-position: left bottom;
  transition: background 0.25s ease;
}

[aria-current='page'] {
  background-color: black;
  color: white;
}

.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  70% {
    opacity: 0;
  }
}

.lava {
  background-size: 300%;
  background-image: radial-gradient(
    circle,
    #eab2086e,
    #ffffff80,
    #feb47b51,
    #ffffff80
  );
  animation-name: lavaLampEffect;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
  background-position: 0% 50%;
  transition: background-position 0.5s ease 1s;

  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  display: inline-block; /* Confines the effect strictly to the text */
}

@keyframes lavaLampEffect {
  0% {
    background-position: 0% 0%;
  }
  25% {
    background-position: 50% 25%;
  }
  50% {
    background-position: 100% 50%;
  }
  75% {
    background-position: 75% 100%;
  }
  100% {
    background-position: 0% 50%;
  }
}
