@font-face {
  font-family: 'Amstelvar';
  src: url('/amstelvar-roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

@font-face {
  font-family: 'Amstelvar Heading';
  src: url('/amstelvar-roman.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

.font-amstelvar-heading {
  font-variation-settings:
    'wght' 484,
    'wdth' 100.25,
    'opsz' 90,
    'GRAD' 4,
    'XTRA' 561,
    'XOPQ' 174.8,
    'YOPQ' 123.81,
    'YTLC' 499.5,
    'YTUC' 750,
    'YTAS' 765.65,
    'YTDE' -239.36,
    'YTFI' 758.5
}

.co-opsz-60 {
  font-variation-settings: 'opsz' 60;
}

@font-face {
  font-family: 'Departure Mono';
  src: url('/departure-mono-regular.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

/* co for concordance */

.co-highlight {
  background: linear-gradient(to right, #eab30899 50%, transparent 50%);
  background-size: 205% 100%;
  background-position: right bottom;
  transition: background 0.25s ease;
}

a.co-highlight:hover {
  background-position: left bottom;
  transition: background 0.25s ease;
}

.blink_me {
  animation: blinker 1.5s linear infinite;
}

@keyframes blinker {
  70% {
    opacity: 0;
  }
}