---
import BaseLayout from './BaseLayout.astro'
import '../index.css'
---

<BaseLayout title='About' description='About'>
  <!-- class stolen from posts/slug -->
  <div class="pt-12 max-w-screen-md mx-auto">
    <h2
      class='block text-balance text-3xl md:text-4xl lg:text-5xl'
    >
      About
    </h2>

    <!-- class stolen from posts/slug -->
    <article class='prose prose-blog sm:prose-lg dark:prose-invert max-w-none'>
      <slot />
    </article>
  </div>
</BaseLayout>
