---
import BaseLayout from './BaseLayout.astro'
---

<BaseLayout title='About' description='About'>
  <!-- class stolen from posts/slug -->
  <h2
    class='block text-balance text-3xl font-bold  text-neutral-500 dark:text-neutral-300 md:text-4xl lg:text-5xl'
  >
    About
  </h2>

  <!-- class stolen from posts/slug -->
  <article class='prose prose-blog sm:prose-lg dark:prose-invert max-w-none'>
    <slot />
  </article>
</BaseLayout>
