---
const { url, name } = Astro.props

interface Props {
  url: string
  name: string
}
---

<a
  id={url === '/' ? 'home' : url.replace('/', '')}
  href={url}
  data-astro-prefetch
  class='text-base font-medium text-neutral-400 outline-none co-highlight px-1 hover:text-white'
>
  {name}
</a>


<script>
  document.addEventListener('DOMContentLoaded', () => {
    const url = window.location.pathname.replace('//', '')
    let navId = 'home'

    if (url !== '/') {
      navId = url.replace('/', '')
    }

    const nav = document.getElementById(navId)
    if (nav) {
      nav.classList.remove(
        'text-neutral-400',
      )
      nav.classList.add('dark:text-white')
      nav.setAttribute('aria-current', 'page')
    }
  })
</script>
